{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Jimini - Select your origami design!{% endblock %}

{% block content %}
<div class="workflowNav">
        <a href='choose_origami.html'><img class='workflowSteps' src='{% static "website_parts/homepage/step1.png" %}'/></a>
	<img class='workflowSteps_grey' src='{% static "website_parts/homepage/step2.png" %}'/>
	<img class='workflowSteps_grey' src='{% static "website_parts/homepage/step3.png" %}'/>
	<img class='workflowSteps_grey' src='{% static "website_parts/homepage/step4.png" %}'/>
</div>
        <div class="origamiDisplay">
	  {% for origami in origamis %}
          <a class="smallOrigamiLink" href="choose_origami.html/{{ origami.id }}"><img class="smallOrigamiBlock" src="{{ origami.get_pictures.0.picture.url }}"/></a>
          {% endfor %}
        </div>
	
	{% for origami in origamis %}
	<div class="singleOrigamiView">
          <a class="OrigamiLink" href='choose_origami.html/{{origami.id}}'><img class="bigOrigamiPic" src='{{ origami.get_pictures.0.picture.url }}'/></a>
          <h1 class="origamiTitle">{{ origami.title }}</h1>
          <h2>Price: ${{ origami.price }}</h2>
	  <p>{{ origami.description }}</p>
          <ul>
	    <li>{{origami.bullet_1}}</li>
	    <li>{{origami.bullet_2}}</li>
	    <li>{{origami.bullet_3}}</li>
	  </ul>
	  <br>

        <a href="../choose_recipient.html/{{ origami.id }}">Select This Origami</a>
        
        <div class="secondaryOrigamiPics"
	     {% for image in origami.get_pictures %}
	     <a href='choose_origamic.html/{{origami.id}}/{{image.id}}'><img src='{{ image.picture.url }}'/></a>
             {% endfor %}
	</div>
        
	</div>
	{% endfor %}

{% endblock %}
