{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Jimini - Select your origami design!{% endblock %}

{% block content %}
<div class="workflowNav">
	<img class='workflowSteps' src='{% static "website_parts/homepage/step1.png" %}'>
	<img class='workflowSteps' src='{% static "website_parts/homepage/step2.png" %}'>
	<img class='workflowSteps' src='{% static "website_parts/homepage/step3.png" %}'>
	<img class='workflowSteps' src='{% static "website_parts/homepage/step4.png" %}'>
</div>
	<div class="origamiDisplay">
	{% for image in tmp_imgs %}
		<a class="smallOrigamiLink" href='/'><img class="smallOrigamiBlock" src='static/origami_animals/transparent_background/{{image}}-small2.png'/></a>
	{% endfor %}
	
	<!--
	{% for origami in origamis %}
		<div class="smallOrigamiBlock" description="<h3>{{ origami.title }}</h3><p>{{ origami.description }}</p>">
			<img style="margin: 10px;" src="{{ origami.picture.url }}">
		</div>
	{% endfor %}-->
	
	</div>
	
	
	{% for origami in origamis %}
	<div class="singleOrigamiView">
          <a class="OrigamiLink" href='/'><img class="bigOrigamiPic" src='{{ origami.picture.url }}'/></a>
          <h1 class="origamiTitle">{{ origami.title }}</h1>
          <p>{{ origami.description }}</p>
          <ul>
	    <li>{{origami.bullet_1}}</li>
	    <li>{{origami.bullet_2}}</li>
	    <li>{{origami.bullet_3}}</li>
	  </ul>
	  <br>

          <form method="post" name="selectOrigami">
            <input type="hidden" name="{{ origami.title }}" value="{{ origami.title }}">
            <input id="select_origami" type="submit" value="Select This Origami">
        </form>
        
        <div class="secondaryOrigamiPics"
            <a href='/'><img src='{{ origami.picture_2.url }}'/></a>
            <a href='/'><img src='{{ origami.picture_3.url }}'/></a>
            <a href='/'><img src='{{ origami.picture_4.url }}'/></a>
        </div>
        
	</div>
	{% endfor %}

{% endblock %}
