{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Jimini - Wrap digital gifts in paper origami!{% endblock %}

{% block content %}

    {% if amazonUser.email %}
        Welcome {{ amazonUser.email }}!
    {% endif %}
    
	<img src='{% static "website_parts/homepage/bigimage.png" %}'>
	<br/>
	<a href="/choose_origami.html"><img class='tutorial' src='{% static "website_parts/homepage/step1.png" %}'/></a>
	<img class='tutorial' src='{% static "website_parts/homepage/step2.png" %}'>
	<img class='tutorial' src='{% static "website_parts/homepage/step3.png" %}'>
	<img class='tutorial' src='{% static "website_parts/homepage/step4.png" %}'>

    <h2 style="border-top: solid 1px #dedede; padding-top:10px;">Choose a design</h2>
	<div class="origamiDisplay">
	{% for origami in origamis %}
	<a class="smallOrigamiLink" href="choose_origami.html/{{ origami.id }}"><img class="smallOrigamiBlock" src="{{ origami.get_pictures.0.picture.url }}"/></a>
	{% endfor %}
	</div>


{% endblock %}
