{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block content %}

    {% if user.email %}
        Welcome {{ user.email }}!
    {% endif %}
    
	<img src='{% static "website_parts/homepage/bigimage.png" %}'>
	<br/>
	<img class='tutorial' src='{% static "website_parts/homepage/step1.png" %}'>
	<img class='tutorial' src='{% static "website_parts/homepage/step2.png" %}'>
	<img class='tutorial' src='{% static "website_parts/homepage/step3.png" %}'>
	<img class='tutorial' src='{% static "website_parts/homepage/step4.png" %}'>

{% endblock %}