{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Jimini - Checkout with Amazon{% endblock %}

{% block content %}
<div class="workflowNav">
  <a href='/choose_origami.html/{{ origami.id }}/{{ order.id }}'><img class='workflowSteps_grey' src='{% static "website_parts/homepage/step1_half.png" %}'/></a>
  <a href='/choose_recipient.html/{{ origami.id }}/{{ order.id }}'><img class='workflowSteps_grey' src='{% static "website_parts/homepage/step2_half.png" %}'/></a>
  <img class='workflowSteps' src='{% static "website_parts/homepage/step3_half.png" %}'/>
  <img class='workflowSteps_grey' src='{% static "website_parts/homepage/step4_half.png" %}'/>
</div>

    <script>
    new OffAmazonPayments.Widgets.AddressBook({
     sellerId: 'A2OSAYU8Y178Y0',
     amazonOrderReferenceId: '{{ order.amazonOrderReferenceId }}', 
     // amazonOrderReferenceId obtained from Button widget
     displayMode: "Read",
     onAddressSelect: function(orderReference) {
     // Replace the following code with the action that you want to perform 
     // after the address is selected.
     // The amazonOrderReferenceId can be used to retrieve 
     // the address details by calling the GetOrderReferenceDetails
     // operation. If rendering the AddressBook and Wallet widgets on the
     // same page, you should wait for this event before you render the
     // Wallet widget for the first time.
     
     },
     design: {
     size : {width:'400px', height:'260px'}
     },
     onError: function(error) {
     // your error handling code
     }
    }).bind("addressBookWidgetDiv");
    </script>

	<script>
    new OffAmazonPayments.Widgets.Wallet({
     sellerId: 'A2OSAYU8Y178Y0',
     amazonOrderReferenceId: '{{ order.amazonOrderReferenceId }}', 
     // amazonOrderReferenceId obtained from Button widget
     displayMode: "Read",
     design: {
     size : {width:'400px', height:'260px'}
     },
     onPaymentSelect: function(orderReference) {
     // Replace this code with the action that you want to perform
     // after the payment method is selected.
     },
     onError: function(error) {
     // your error handling code
     }
    }).bind("walletWidgetDiv");
    </script>

<table>
<tr>
    <td width=450px>
    <h3>Recipient</h3>
      <table>
            <tr>
              <td class="formlabel">To: </td>
              <td>{{ order.recipient_name }}</td>
            </tr>
            <tr>
              <td class="formlabel">From: </td>
              <td>{{ order.sender_name }}</td>
            </tr>
            <tr>
              <td class="formlabel">Message: </td>
              <td>{{ order.message }}</td>
            </tr>
        </table>
        <br>
    </td>
    <td>
        <h3>Order Total: ${{ origami.price }}</h3>
        <img src='{{ origami.get_pictures.0.picture.url }}'/>
        <a href='/confirmation.html/{{ order.id }}'><h4>Pay with Amazon</h4></a>
        <span><a href="/choose_recipient.html/{{ origami.id }}/{{ order.id }}">Edit</a></span>
    </td>
</tr>
<tr>
    <td>
        <h3>Shipping Address</h3>
    	<div id="addressBookWidgetDiv">
        </div>
    </td>
    <td>
        <h3>Payment Method</h3>
        <div id="walletWidgetDiv"></div>
    </td>
</tr>
</table>
</div>

{% endblock %}
